env/
*.bak
*.ez
nlw-*.tar
erl_crash.dump
tags
.DS_Store
.vim
.venv
.scannerwork
*__pycache__
docker/db/
.idea/
.vscode/
api/module/__pycache__
api/module/crawl/__pycache__
api/module/account/__pycache__
api/logfile.log
api/core/__pycache__
web/node_modules
**/__pycache__/
**/**/__pycache__/